<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Server=192.168.1.50;User ID=mirroruser;Password=AGV1234!;Database=master;" providerName="System.Data.SqlClient" />-->
		<add name="DefaultConnection" connectionString="data source=(local);Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=HACS_DB_32AGV" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>